.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1rem;

  div {
    margin-right: 2rem;
  }

  div:last-child {
    margin-right: 0;
  }
}

.ver-pedido {
  cursor: pointer;
}
